<div class="page-header">
    <h3>Login</h3>
</div>
<div class="login-custom">
    <h4>Please enter your data!</h4>
    <form class="formLogin" role="form"
                                action="/login?form=login" method="POST">

        <input type="hidden" name="_csrf" value="{{csrf}}">

        <div class="form-group">
            <label for="fieldUsername" class="col-sm-2 control-label">Username</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="fieldUsername" name="loginUser">
            </div>
        </div> <!-- End of form-group -->

        <div class="form-group">
            <label for="fieldPassword" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" id="fieldPassword" name="loginPass">
            </div>
        </div> <!-- End of form-group -->

        <div class="form-group">
            <div class="col-sm-4">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div> <!-- End of form-group -->

    </form>

</div> <!-- End of contactUs -->
