@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');


body {
    /* don't allow scrolling -- make it a single page
     * override via media rule so elements fit the screen */
    overflow-y:auto; 
    background-color: #161616;
}



.vertical-center {
    position:relative;

/* the two comments below make make overflow-y work as intended */
/* min-height: 100%; */
/* min-height: 100vh; */

    display: flex;
    margin-top: 20vh !important;
}

.module-border-wrap {
    position: absolute;



    padding: 1rem;
    background: linear-gradient(to right, red, purple);
    padding: 3px;

}

.module {
    background: #161616;
    color: white;
    padding: 3rem;
    
    font-family: 'Abel', Light;
    font-size: 20px;
/* font-family: 'Montserrat', sans-serif; */
    color: #dfddc7;
}

/* When the width is between 600px and 900px OR above 1100px - change the appearance of <div> */
@media screen and (max-width: 600px) and (min-width: 300px){
    body{
        overflow-y: auto;
    }

    .vertical-center{
        margin-top: 10vh !important;
    }
}
