@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');


body {
    /* don't allow scrolling -- make it a single page
     * override via media rule so elements fit the screen */
    overflow-y:auto; 
    background-color: #161616;
    
    /* make text not selectable */
    user-select: none; 
}



.vertical-center {
    position:relative;

/* the two comments below make make overflow-y work as intended */
/* min-height: 100%; */
/* min-height: 100vh; */

    display: flex;
    margin-top: 20vh !important;
}

.module-border-wrap {
    position: absolute;



    padding: 1rem;
    background: linear-gradient(to right, red, purple);
    padding: 3px;

}

th{ color: #d9d6cf; }
td{ color: #d9d6cf; }

.module {
    background: #161616;
    color: #d9d6cf;
    padding: 3rem;
    
    font-family: 'Abel', Light;
    font-size: 20px;
}

.bg-dark{
background: #d9d6cf !important;
}

.btn-primary{
/* background-image: linear-gradient(to right, red, orange); */
/* background-image: linear-gradient( 179.5deg,  rgba(255,230,69,1) 3.3%, rgba(255,157,73,1) 9% ); */
    background-image: linear-gradient( 110.1deg,  rgba(241,115,30,1) 18.9%, rgba(231,29,54,1) 99% );
    opacity: 0.9;
    color: #000000;
}

button,
button:hover,
button:visited,
button:active,
button:focus {
  color: black !important;
}

button:hover{
    opacity: 1;
}



/* When the width is between 600px and 900px OR above 1100px - change the appearance of <div> */
@media screen and (max-width: 600px) and (min-width: 300px){
    body{
        overflow-y: auto;
    }

    .vertical-center{
        margin-top: 10vh !important;
    }
}
