/* loads fonts */
@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.navbar-custom, .navbar-brand{
    background-color: #161616;
    color: #dfddc7 !important;

    font-family: 'Abel', Light;
    font-size: 18px;
}


.asterisk{ color: #ff5879;}

.btn{
    border:0px solid transparent; /* this was 1px earlier */
}

.btn-outline-light:focus,
.btn-outline-light:active{
    box-shadow:none !important;
    outline:0px !important;
}

.btn-outline-light {
    color: #dfddc7;
    background-color: #161616;
}

.btn-outline-light:hover {
    color: #e6e6e6;
    background-color: #161616;
}
