@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');

body, html {
    margin: 0;
    height:100%;

    font-family: 'Abel', Light;
}
body{
    background: #161616; 

    overflow: hidden;
}

#asterisk{ color: #ff5879;}

.query-panel{
    margin: 0;
    position: absolute;
    top: 9%;
    
}

form{
    padding: 20px 0px 0px 5px;
}

input{
    background-color: #d9d6cf !important;
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[contenteditable].form-control:focus {
    box-shadow: inset 0 -1px 0 #ddd;
}

.query-btn{
    /* background-image: linear-gradient(to right, red, orange); */
    /* background-image: linear-gradient( 179.5deg,  rgba(255,230,69,1) 3.3%, rgba(255,157,73,1) 9% ); */
    background-image: linear-gradient( 110.1deg,  rgba(241,115,30,1) 18.9%, rgba(231,29,54,1) 99% );
    opacity: 0.9;
    color: #000000;
    border: none;
}


.page-header,
.left{
    color: #bb9e8a;
}

.container-fluid, .row-custom{
    height: 100%;
}


.my-custom-scrollbar {
    position: relative;
    height: 80vh;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}

.table-light{

    background: #161616;
    color: #bb9e8a;
}

.table thead tr th, .table tbody tr td {
    border: none;
}
